debug
vendor
bin/mijn-app-backend.exe
bin/mijn-app-cli.exe
bin/js/example.go
pkg
bin/mijn-app-backend
bin/mijn-app-cli
bin/mijn-app
bin/js/index.html
swagger/swagger.json
swagger/swagger.yaml
tool/cli/commands.go
cover.out
.idea/
client/
js/
bin/
jwtkeys/
variables.env

pp4-service/pp4-service